:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --orange-pal: #d96326;
  --yellow-pal: #f29d35;
  --brown-pal: #591914;
  --brown-dark-pal: #3d0f07;
  --teal-pal: #018380;
  --teal-medium: #25d9d4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 600px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--brown-pal);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--teal-pal);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--teal-pal);
  }
  button {
    background-color: var(--brown-pal);
    color: var(--yellow-pal);
    border: solid 4px var(--yellow-pal);
  }
}
