:root {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  transition: all 1s ease-in-out;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --orange-pal: #d96326;
  --orange-l01: #e18251;
  --yellow-pal: #f29d35;
  --yellow-l01: #e88001;
  --brown-pal: #591914;
  --brown-l01: #942410;
  --brown-dark-pal: #3d0f07;
  --teal-pal: #018380;
  --teal-medium: #25d9d4;
  --teal-l01: #c3fffe;
}
* {
  transition: all 0.5s ease-in-out;
}
.container-boxed-sm {
  min-width: 600px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;

  min-width: 200px;
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: var(--teal-pal);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button {
  border-radius: 50px;
  border: 4px solid var(--yellow-pal);
  padding: 0.6em 1.2em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--brown-pal);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 3rem;
}

button.primaryBtn {
  border-radius: 50px;
  border: 4px solid var(--teal-medium);
  padding: 0.6em 1.2em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--teal-l01);
  text-transform: uppercase;
  background-color: var(--teal-pal);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1rem;
}
form {
  margin: 4rem auto;
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--brown-dark-pal);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--teal-pal);
  }
  button {
    background-color: var(--brown-pal);
    color: var(--yellow-pal);
    border: solid 4px var(--yellow-pal);
  }
}
